In [1]:
#below are the plnets in the universe
planets = ['mercury','venus','earth','mars','jupiter']
print(planets)

['mercury', 'venus', 'earth', 'mars', 'jupiter']

In [4]:
planets.sort()

In [5]:
print(planets)

['earth', 'jupiter', 'mars', 'mercury', 'venus']

In [8]:
planets.sort(reverse=True)
print(planets)

['venus', 'mercury', 'mars', 'jupiter', 'earth']

In [9]:
print(planets)

['venus', 'mercury', 'mars', 'jupiter', 'earth']

In [11]:
#sort order temporary
print(sorted(planets))
#actual order
print(planets)

['earth', 'jupiter', 'mars', 'mercury', 'venus']
['venus', 'mercury', 'mars', 'jupiter', 'earth']

In [14]:
print(sorted(planets)[0])
print(planets[0])

earth
venus

In [15]:
len(planets)

5

In [16]:
print(planets)

['venus', 'mercury', 'mars', 'jupiter', 'earth']

In [18]:
print(f'planet in the universe: {planets[0]}')

planet in the universe: venus

In [23]:
for planet in planets:
    print(f'planet in the universe: {planet}')

planet in the universe: venus
planet in the universe: mercury
planet in the universe: mars
planet in the universe: jupiter
planet in the universe: earth